<header uk-nav class="fixed w-full z-50 bg-[#F6F8FD] flex h-[70px] items-center px-[20px] sm:px-[30px] md:px-[40px] lg:px-[55px]">
    <a class="flex items-center gap-[10px]" href="#">
      <img class="h-[32px]" src="img/logo-teaching.png" alt="">
    <div class="logo_text">線上開課工具!</div>
    </a>
    <nav class="uk-parent mx-auto absolute top-[70px] w-full text-center left-0 lg:relative lg:top-0 lg:w-auto">
      <a class="absolute top-[-40px] right-[22px]" href="#"><img class="lg:hidden" src="img/icon_bars.svg" alt=""></a>
      <ul id="header_ui" uk-scrollspy-nav="closest: li; scroll: true" class=" bg-[#f6f8fd] flex gap-[15px] flex-col lg:flex-row lg:!flex">
        <li><a class="hover:text-[#007cc1]  py-[10px] justify-center" href="#scroll_1">線上開課工具</a></li>
        <li><a class="hover:text-[#007cc1]  py-[10px] justify-center" href="#scroll_2">功能特色</a></li>
        <li><a class="hover:text-[#007cc1]  py-[10px] justify-center" href="#scroll_3">方案費用</a></li>
        <li><a class="hover:text-[#007cc1]  py-[10px] justify-center" href="#scroll_4">客戶案例</a></li>
        <li><a class="hover:text-[#007cc1]  py-[10px] justify-center" href="#scroll_5">關於我們</a></li>
        <li><a class="hover:text-[#007cc1]  py-[10px] justify-center" href="#scroll_6">藍猴首頁</a></li>
      </ul>
    </nav>
    <a class="hidden lg:block header_btn" href="#">FREE! 開通試用</a>
  </header>